<div class="row obra">
    <div class="col-md-12">
          <h3>{{ i18n.plannedWork }}: {{obra.nombre}}</h3>
          <div class="row">
           <div class="col-md-8">
                <ul>
                  <flex-slider slide="s in obra.fotos" animation="slide" control-nav="thumbnails">
                    <li data-thumb="{{s}}">
                      <img ng-src="{{s}}">
                    </li>
                  </flex-slider>
                </ul>
                <p> {{obra.descripcion}} </p>
          </div>
          <div class="col-md-3 ficha-tecnica" ng-if="obra.hasDetail">
                 <h4>{{ i18n.technicalInformation }}</h4>
                 <p class="etiquetas">
                      <a href="http://www.buenosaires.gob.ar/compromisos" target="_blank>"><span  ng-show="obra.compromiso" class="label label-primary compromiso-row compromiso">
                         <img src="images/iconos/compromiso.svg"/>{{ i18n.governmentCommitment }}</span></a>
                      <span  ng-show="obra.destacada" class="label label-primary compromiso-row destacada">   <img src="images/iconos/archivo.svg"/>{{ i18n.featuredWork }}</span>
                      <a href="https://baelige.buenosaires.gob.ar/"  target="_blank>"> <span  ng-show="obra.ba_elige" class="label label-primary  compromiso-row ba-elige ">   <img src="images/iconos/archivo.svg"/>BA Elige</span></a>
                  </p>
                <div class="etapa" ng-if="obra.etapa">
                  <div class="row">
                     <div class="col-md-2">
                          <img src="images/iconos/calendario.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.stage }}:</p>
                        <p><strong>{{obra.etapa}}</strong> </p>
                        <div class="progress" ng-if="obra.porcentaje_avance">
                            <div class="progress-bar bg-color-{{obra.slug}}"
                              role="progressbar"
                                ng-style="{ 'width': obra.porcentaje_avance + '%' }">
                              <div class="progressbar-w" ng-show="!obra.porcentaje_avance"><p></p> </div>
                              <span class="progressbar-w" ng-hide="obra.porcentaje_avance<22 || !obra.porcentaje_avance">
                              </span>
                            </div>
                            <div class="progress-w" ng-show="obra.porcentaje_avance<22" ng-style="{ 'width': (100 - obra.porcentaje_avance) + '%' }"></div>
                          </div>
                          <div ng-if="!obra.hideDates" class="row fechas"  ng-show="obra.fecha_inicio">
                            <div class="col-md-6"  ng-show="obra.fecha_inicio">
                             <p> {{ i18n.start }}: <strong>{{obra.fecha_inicio}}</strong></p>
                            </div>
                            <div class="col-md-6"  ng-show="obra.fecha_fin">
                             <p> {{ i18n.end }}: <strong>{{obra.fecha_fin}}</strong> </p>
                            </div>

                          </div>
                      </div>
                    </div>

                  <div class="row" ng-if="obra.etapa_detalle">
                     <div class="col-md-2">
                      <p>  </p>
                     </div>
                      <div class="col-md-10">
                        <p> <small> {{obra.etapa_detalle}}</small> </p>
                      </div>
                    </div>
                  </div>
                   <div class="row" ng-if="obra.tipo">
                     <div class="col-md-2">
                          <img src="images/iconos/estilo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.workType }}: </p>
                        <strong>{{obra.tipo}}</strong>
                      </div>
                    </div>
                  <div class="row">
                     <div class="col-md-2">
                          <img src="images/iconos/ministerio.svg"/>
                     </div>
                      <div class="col-md-10" ng-if="obra.area_responsable">
                        <p> {{ i18n.responsableArea }}: </p>

                        <strong> {{obra.area_responsable}}</strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.licitacion_oferta_empresa">
                     <div class="col-md-2">
                          <img src="images/iconos/trabajador.svg"/>
                     </div>
                       <div class="col-md-10">
                        <p>  {{ i18n.company }}: </p>
                        <strong> {{obra.licitacion_oferta_empresa}}</strong>
                        <div ng-show="obra.cuit_contratista">
                          <p>  CUIT Empresa: </p>
                          <strong> {{obra.cuit_contratista}}</strong>
                        </div>
                        <div ng-show="obra.contratacion_tipo">
                          <p> {{ i18n.contractType }}: </p>
                          <strong> {{obra.contratista_tipo}}</strong>
                        </div>
                        <div ng-show="obra.nro_contratacion">
                        <p> {{ i18n.contractNumber }}: </p>
                        <strong> {{obra.nro_contratacion}}</strong>
                        </div>

                      </div>
                    </div>
                    <div class="row" ng-show="obra.plazo_meses" ng-if="obra.plazo_meses">
                     <div class="col-md-2">
                          <img src="images/iconos/relojarena.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p> {{ i18n.termDuration }}: </p>
                        <strong> {{obra.plazo_meses}} {{ i18n.months }} </strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.hideDates && obra.licitacion_anio">
                     <div class="col-md-2">
                          <img src="images/iconos/calendario.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.yearOfTender }}: </p>
                        <strong> {{obra.licitacion_anio}}</strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.beneficiarios" ng-if="obra.benficiarios">
                     <div class="col-md-2">
                          <img src="images/iconos/ministerio.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.numberOfBeneficiaries }}:</p>
                        <strong> {{obra.benficiarios}}<small> {{ i18n.people }}</small>  </strong>
                      </div>
                    </div>

                     <div class="row" ng-show="obra.mano_obra" ng-if="obra.mano_obra">
                          <div class="col-md-2">
                              <img src="images/iconos/trabajador.svg"/>
                          </div>
                          <div class="col-md-10">
                              <p>{{ i18n.workforce }}: </p>
                              <strong> {{obra.mano_obra}} <small>{{ i18n.people }}</small> </strong>
                              <colored-icons scale="'manoDeObra'" callback="drawSecondColored"></colored-icons>
                          </div>
                    </div>

                    <div class="row" ng-show="obra.monto_contrato" ng-if="obra.monto_contrato">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>

                      <div class="col-md-10">
                        <p>{{ i18n.contractAmount }}:  </p>
                        <strong>  {{obra.monto_contrato | currency}} </strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.direccion" ng-if="obra.direccion">
                     <div class="col-md-2">
                          <img src="images/iconos/location.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p> {{ i18n.address }}: </p>
                        <strong>  {{obra.direccion}} </strong>
                      </div>
                    </div>
                  <div class="row" ng-show="obra.licitacion_presupuesto_oficial">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.updatedAmount }}: </p>
                        <strong>   {{obra.licitacion_presupuesto_oficial | currency}} </strong>
                      </div>
                  </div>
                  <div class="row" ng-show="obra.financiamiento">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>{{ i18n.financer }}:</p>
                        <strong>{{obra.financiamiento}}</strong>
                      </div>
                  </div>
                  <div class="row" ng-show="obra.pliego_descarga">
                     <div class="col-md-2">
                          <img src="images/iconos/archivo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p><a ng-href="{{obra.pliego_descarga}}" target="_blank">{{ i18n.contractInformation }}</a> </p>
                      </div>
                  </div>
                  <div class="row" ng-show="obra.estudio_ambiental_descarga">
                     <div class="col-md-2">
                          <img src="images/iconos/archivo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p><a ng-href="{{obra.estudio_ambiental_descarga}}" target="_blank">{{ i18n.environmentalImpact }}</a> </p>
                      </div>
                  </div>
            </div>
        </div>
  </div>
</div>
