<div class="row obra">
    <div class="col-md-12">
          <h3>Obra: {{obra.nombre}}</h3>
          <div class="row">
           <div class="col-md-8">
                <img class="img-responsive" ng-src="{{obra.fotos[0]}}">
                <p> {{obra.descripcion}} </p>
          </div>
          <div class="col-md-3 ficha-tecnica">
                 <h4> Ficha técnica</h4>
                 <p class="etiquetas">
                      <a href="http://www.buenosaires.gob.ar/compromisos" target="_blank>"><span  ng-show="obra.compromiso" class="label label-primary compromiso-row compromiso">
                         <img src="images/iconos/compromiso.svg"/>Compromiso de Gobierno</span></a>
                      <span  ng-show="obra.destacada" class="label label-primary compromiso-row destacada">   <img src="images/iconos/archivo.svg"/>Obra Destacada</span>
                      <a href="https://baelige.buenosaires.gob.ar/"  target="_blank>"> <span  ng-show="obra.ba_elige" class="label label-primary  compromiso-row ba-elige ">   <img src="images/iconos/archivo.svg"/>BA Elige</span></a>
                  </p>
                <div class="etapa">
                  <div class="row">
                     <div class="col-md-2">
                          <img src="images/iconos/calendario.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>Etapa:</p>
                        <p><strong>{{obra.etapa}}</strong> </p>
                        <div class="progress">
                            <div class="progress-bar bg-color-{{obra.slug}}"
                              role="progressbar"
                                ng-style="{ 'width': obra.porcentaje_avance + '%' }">
                              <div class="progressbar-w" ng-show="!obra.porcentaje_avance"><p></p> </div>
                              <span class="progressbar-w" ng-hide="obra.porcentaje_avance<22 || !obra.porcentaje_avance">
                              </span>
                            </div>
                            <div class="progress-w" ng-show="obra.porcentaje_avance<22" ng-style="{ 'width': (100 - obra.porcentaje_avance) + '%' }"></div>
                          </div>
                          <div ng-if="!obra.hideDates" class="row fechas"  ng-show="obra.fecha_inicio">
                            <div class="col-md-6"  ng-show="obra.fecha_inicio">
                             <p> Inicio: <strong>{{obra.fecha_inicio}}</strong></p>
                            </div>
                            <div class="col-md-6"  ng-show="obra.fecha_fin">
                             <p> Fin: <strong>{{obra.fecha_fin}}</strong> </p>
                            </div>

                          </div>
                      </div>
                    </div>

                  <div class="row">
                     <div class="col-md-2">
                      <p>  </p>
                     </div>
                      <div class="col-md-10">
                        <p> <small> {{obra.etapa_detalle}}</small> </p>
                      </div>
                    </div>
                  </div>
                   <div class="row">
                     <div class="col-md-2">
                          <img src="images/iconos/estilo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p> Tipo de obra: </p>
                        <strong>{{obra.tipo}}</strong>
                      </div>
                    </div>
                  <div class="row">
                     <div class="col-md-2">
                          <img src="images/iconos/ministerio.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p> Área responsable: </p>
                        
                        <strong> {{obra.area_responsable}}</strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.licitacion_oferta_empresa">
                     <div class="col-md-2">
                          <img src="images/iconos/trabajador.svg"/>
                     </div>
                       <div class="col-md-10">
                        <p>  Empresa: </p>
                        <strong> {{obra.licitacion_oferta_empresa}}</strong>
                        <div ng-show="obra.contratista_tipo">
                          <p>  Tipo de contratación: </p>    
                          <strong> {{obra.contratista_tipo}}</strong>
                        </div>
                        <div ng-show="obra.nro_contratacion">
                        <p> N° de contratación: </p>
                        <strong> {{obra.nro_contratacion}}</strong>
                        </div>
                        <div ng-show="obra.cuit_contratista">
                        <p>  CUIT del contratista: </p>
                        <strong> {{obra.cuit_contratista}}</strong>
                        </div>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.plazo_meses">
                     <div class="col-md-2">
                          <img src="images/iconos/relojarena.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p> Plazo total: </p>
                        <strong> {{obra.plazo_meses}} meses </strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.hideDates && obra.licitacion_anio">
                     <div class="col-md-2">
                          <img src="images/iconos/calendario.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>    Año de licitación: </p>
                        <strong> {{obra.licitacion_anio}}</strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.beneficiarios">
                     <div class="col-md-2">
                          <img src="images/iconos/ministerio.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>    Cantidad de Beneficiaros:</p>
                        <strong> {{obra.benficiarios}}<small> personas</small>  </strong>
                      </div>
                    </div>
                    <div class="row" ng-show="obra.beneficiarios">
                     <div class="col-md-2">
                          <img src="images/iconos/ministerio.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>     Mano de Obra: </p>
                        <strong> {{obra.mano_obra}} <small>personas</small> </strong> 
                      </div>
                    </div>
                    <div class="row" ng-show="obra.beneficiarios">
                     <div class="col-md-2">
                          <img src="images/iconos/trabajador.svg"/>
                     </div>

                      <div class="col-md-10">
                        <p>     Mano de Obra: </p>
                        <strong> {{obra.mano_obra}} <small>personas</small> </strong> 
                      </div>
                    </div>
                    <div class="row" ng-show="obra.monto_contrato">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>
                     
                      <div class="col-md-10">
                        <p>Monto Contrato:  </p>
                        <strong>  {{obra.monto_contrato | currency}} </strong> 
                      </div>
                    </div>
                    <div class="row" ng-show="obra.direccion">
                     <div class="col-md-2">
                          <img src="images/iconos/location.svg"/>
                     </div>
                      <div class="col-md-10">
                        <strong>  {{obra.direccion}} </strong> 
                      </div>
                    </div>
                  <div class="row" ng-show="obra.licitacion_presupuesto_oficial">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>    Monto Actualizado: </p>
                        <strong>   {{obra.licitacion_presupuesto_oficial | currency}} </strong> 
                      </div>
                  </div>
                  <div class="row" ng-show="obra.financiamiento">
                     <div class="col-md-2">
                          <img src="images/iconos/dinero.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p>Financiador:</p>
                        <strong>{{obra.financiamiento}}</strong>
                      </div>
                  </div>
                  <div class="row" ng-show="obra.pliego_descarga">
                     <div class="col-md-2">
                          <img src="images/iconos/archivo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p><a ng-href="{{obra.pliego_descarga}}" target="_blank">Proceso de contratación </a> </p>
                      </div>
                  </div>
                  <div class="row" ng-show="obra.estudio_ambiental_descarga">
                     <div class="col-md-2">
                          <img src="images/iconos/archivo.svg"/>
                     </div>
                      <div class="col-md-10">
                        <p><a ng-href="{{obra.estudio_ambiental_descarga}}" target="_blank">Evaluación de impacto ambiental</a> </p>
                      </div>
                  </div>
            </div>
        </div>
  </div>
</div>
