<div>
<div class="row" ng-show='obras'>
  <div class="col-xs-12">
    <h1 class="center ">{{ i18n.homeTitle }}</h1>
  </div>
</div>
  <div id='stats-home' class="row" ng-show='obras'>
    <div class="col-xs-12">
    <div class='row'>
  <div class='col-xs-6'>
    <div class="row">
      <div class='col-xs-3 col-md-4 icon-container'>
        <img class="" src="images/indicadores/inversion.svg"/>
      </div>
      <div class='col-xs-9 col-md-8 value-container'>
        <h5>{{ i18n.investmentAmount }}:</h5>
        <span class="value">{{totalRender.inversion | currency:$ :0}}</span>
      </div>
    </div>
  </div>
  <div class='col-xs-6'>
    <div class="row">
      <div class='col-xs-3 col-md-4 icon-container'>
        <img class="" src="images/indicadores/obras.svg"/>
      </div>
      <div class='col-xs-9 col-md-8 value-container'>
        <h5>{{ i18n.totalWorks }}:</h5>
        <span class="value">{{totalRender.obras | number:0}}</span>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-xs-6'>
    <div class="row">
      <div class='col-xs-3 col-md-4 icon-container'>
        <img class="" src="images/indicadores/finalizadas.svg"/>
      </div>
      <div class='col-xs-9 col-md-8 value-container'>
        <h5>{{ i18n.ended }}:</h5>
        <span class="value">{{totalRender.porcentaje_finalizadas | number:0}}%</span>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class='col-xs-3 col-md-4 icon-container'>
        <img class="" src="images/indicadores/personas.svg"/>
      </div>
        <div class='col-xs-9 col-md-8 value-container'>
        <h5>{{ i18n.employees }}:</h5>
        <span class="value">{{totalRender.mano_obra | number:0}}</span>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>