<div ng-show="loading" class="row">
  <div class="col-sm-12">
    <h1 id="loading" class="text-center">{{ i18n.loading }}</h1>
    <p class="text-center"><img src="images/loader.gif"/></p>
    <hr/>
  </div>
</div>


<div ng-if="!loading">

  <div class="row">
    	<div class="col-md-12">
  		<h2>{{ i18n.environment }}: {{obras[0].entorno}}</h2>
  		<div ng-repeat="obra in obras">
  			<!-- Obra: {{$index+1}} -> {{obra}} -->
          <div ng-include="'views/includes/obra-detail.html'"></div>
  		</div>
  	</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{ i18n.mapLocation }}</h4>
      <leaflet center="center" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="350px"></leaflet>

    </div>
  </div>

</div>

