<div ng-show="loading" class="row">
  <div class="col-sm-12">
    <h1 id="loading" class="text-center">{{ i18n.loading }}</h1>
    <p class="text-center"><img src="images/loader.gif"/></p>
    <hr/>
  </div>
</div>


<div ng-if="!loading">

  <div class="row">
    <div class="col-sm-12">
        <stats-home obras="obras"></stats-home>
    </div>
  </div>
  <div class="hidden-xs">
    <selector-home ng-if="availableGroups.length > 1" list="availableGroups" selected-group="selectedGroup" update-fn="changeGroup(group)"></selector-home>
  </div>
  <div class="row hidden-xs">
    <div class="col-sm-12">
        <tipo-chart labels="labels" obras="obras" selected-filter="selectedFilter" filter-fn="filterBubbles(filter)" tipo-colors="tipo_colors" finish-fn="tipoChartFinished()"></tipo-chart>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-sm-12">
        <area-responsable-chart obras="obras" selected-filter="selectedFilter" filter-fn="filterBubbles(filter)"></area-responsable-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="hidden-xs"> <strong>{{ useComunas ? "Conocé las obras de tu comuna" : i18n.mapTitle }}</strong></h1>
      <h1 class="visible-xs"> <strong>{{ useComunas ? " Tocá una comuna para conocer las obras" : i18n.mobileMapTitle }}</strong></h1>

    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-md-12 ">
        <div id="search-box" class="row chart-item">
          <div class="col-md-2 hidden-xs" >
            <h4>{{ i18n.searchBy }}</h4>
          </div>
          <div class="col-xs-12 col-md-8 search">
            <input ng-model="textFilter" ng-change="filterByText()" class="form-control text-filter" type="text" placeholder="Filtra por nombre o descripcion de obra">
          </div>
        </div>
      </div>
  </div>
  <div id="main-chart-container" class="row">
    <div class="hidden-xs col-sm-12 ">
        <a  ng-click="filterBubbles('destacada')" class="btn btn btn-secondary btn-sm show-destacadas"><i class="glyphicon glyphicon-flag"></i>{{ i18n.featuredWorks }}</a>
        <p> </p>
        <p> </p>
      </div>
    </div>
    <div class="col-sm-12 home-chart-main">

 <div id="home-chart-container"></div>
    </div>
  </div>

    <div id="mobile-filler" class="row">

    </div>
  </div>

<!-- Tooltip OBRAS -->
<div id="tooltip-home-chart">
  <button type="button" class="close pull-right" ng-click="closeTooltip()">&times;</button>

  <div class="row">
    <div class="col-xs-12">
      <div id="tooltip-logo-container" class="pull-left"></div>
      <div class="tooltip-title">
        <span class="type" ng-style="{color: selectedObra.color_tipo_obra}">{{selectedObra.data.tipo}}</span>
        <span class="title">{{selectedObra.data.nombre}}</span>
      </div>
    </div>
  </div>

  <div class="tooltip-img" ng-show="tooltipThumb">
    <img class="obra-pic img-responsive" ng-src="{{tooltipThumb}}"/>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div ng-show="selectedObra.data.porcentaje_avance" class="progress">
        <span class="desc">{{selectedObra.data.etapa}}<span ng-show="selectedObra.data.porcentaje_avance">: {{selectedObra.data.porcentaje_avance}}%</span></span>
        <div class="progress-bar"
          role="progressbar"
            ng-style="{ 'width': selectedObra.data.porcentaje_avance + '%' }">
            <i ng-show="selectedObra.data.porcentaje_avance == 100" class="glyphicon glyphicon-ok"></i>
        </div>
        <div class="progress-w" ng-show="selectedObra.data.porcentaje_avance<22" ng-style="{ 'width': (100 - selectedObra.data.porcentaje_avance) + '%' }"></div>
      </div>
    </div>
  </div>
  <div class="hidden-xs">
  <div class="row tooltip-text" ng-show="selectedObra.data.area_responsable">
      <div class="col-xs-2">
        <img src="images/iconos/ministerio.svg"/>
      </div>
      <div class="col-xs-10">
          <p class="tooltip-text">{{selectedObra.data.area_responsable}}</p>
      </div>
    </div>

  <p class="tooltip-text tooltip-map" ng-show="showObraImg">
    <span class="tooltip-map-loading" ng-show="!selectedObra.map"><small>{{ i18n.loading }}</small></span>
    <span class="tooltip-map-placeholder">
      <img class="obra-pic img-responsive" ng-show="selectedObra.map" ng-src="{{selectedObra.map}}"/>
    </span>
  </p>

    <div class="row tooltip-text" ng-show="selectedObra.data.direccion">
      <div class="col-xs-2">
        <img src="images/iconos/location.svg"/>
      </div>
      <div class="col-xs-10">
          <p class="tooltip-text">{{selectedObra.data.direccion}}<br/>Comuna {{selectedObra.data.comuna}}</p>
      </div>

    </div>
  </div>
  <p  class="tooltip-text" ng-show="selectedObra.data.link_interno"><a target="_parent" ng-href="{{selectedObra.data.link_interno}}" class="btn btn-link btn-xs btn-block btn-ver-mas">{{ i18n.seeMore }}</a></p>

  <div class="row compromiso-row" ng-show="selectedObra.data.compromiso">
    <div class="col-xs-12">
      <span class="label label-primary">{{ i18n.governmentCommitment }}</span>
    </div>
  </div>

</div>
<!-- TODO: adaptar todo lo siguiente -->
<div ng-show="showList" class="row obra-list open-big">
  <div class="grey-back col-xs-12">
    <div class="row">
      <h4 class="col-xs-10">{{ i18n.totalWorks }} {{ selectedComuna ? "Comuna " + selectedComuna : selectedJurisdiccion }}</h4>
      <h4 class="col-xs-2 right"><a href="" ng-click="closeList()"> <span class="ba-icon ba-no form-control-feedback"></span></a> </h4>
    </div>
  </div>
  <div class="light-grey-back col-xs-12" style="display: none;">
    <div class="row">
      <div class="col-xs-2">
        <p>Filtrar:</p>
        </div>
      <div class="col-xs-8">
        <select class="input" ng-options="item as item.label for item in selectTypes track by item.slug" ng-model="obrasTypeFilter"></select>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <p></p>
        </div>
      <div class="col-xs-8">
        <input ng-model="obrasListFilter" type="text" placeholder="Palabra Clave"></p>
      </div>
    </div>
  </div>
  <div class="detail col-xs-12" ng-repeat="o in filteredObras | filter:obrasListFilter || obrasTypeFilter.slug">
    <div class="row full">
      <div class="col-xs-4">
        <img class="obra-pic img-responsive" ng-src="{{o.thumb}}" />
      </div>
      <div class="col-xs-8">
        <div class="row">
           <h5> {{o.nombre}} </h5>
           <p> {{o.descripcion | limitTo:250}}</p>
           <div class="row data">
            <div class="col-xs-6 smaller">
               <div class="row">
                <div class="col-xs-5"><p>Monto:</p></div>
                <div class="col-xs-7"> {{o.monto_contrato | currency}}</div>
               </div>
               <div class="row">
                <div class="col-xs-5"><p>Etapa:</p></div>
                <div class="col-xs-7">{{o.etapa}}</div>
               </div>
             </div>
             <div class="col-xs-6">
              <p  class="tooltip-text right" ng-show="o.link_interno"><a target="_parent" ng-href="{{o.link_interno}}" class="btn btn-link btn-xs btn-block btn-ver-mas">VER MÁS</a></p>
             </div>
           </div>
        </div>
      </div>
    </div>

  </div>
</div>