<div id="obras-bajo-tierra" class="no-gutters">
  <div ng-show="loading" class="row">
    <div class="col-sm-12">
      <h1 id="loading" class="text-center">Cargando obras</h1>
      <p class="text-center"><img src="images/loader.gif"/></p>
        <hr />
    </div>
  </div>

  <div ng-if="!loading">

    <div class="row no-gutters cortex" id="tierra">
      <div class="layer layer-0" style="background:url('images/bajo-tierra/bg-land.svg');
         background-size: cover; background-position: bottom center;">
      </div>
      <div class="layer layer-1 man"></div>
      <div class="layer layer-2 girl"></div>
      <div class="layer layer-3 welcome">
        <h1>La Ciudad Bajo Tierra</h1>
        <p>Hay obras públicas que avanzan bajo nuestros pies. Aunque muchas no se ven, son esenciales para que vivamos mejor y ahora podés conocer todo sobre ellas: cuánto invertimos, quién las financia, qué empresa la ejecutan, cuánto tiempo es necesario para realizarlas y muchos datos abiertos más.</p>
        <a href="#bajo-nivel" ng-click="$event.preventDefault();gotoElement('bajo-nivel')">Conocé la ciudad bajo tierra</a>
      </div>
    </div>

    <!--
      OBRAS BAJO NIVEL
    -->
    <a name="bajo-nivel"></a>
    <div class="row no-gutters cortex" id="bajo-nivel">
      <div class="layer layer-0"
           style="background:url('images/bajo-tierra/bg-bajo.svg');
           background-size: cover;background-position: bottom center;">
      </div>
      <div class="layer layer-1 car"></div>
      <div class="layer layer-2 flex-center">
        <obras-slider data="obrasBajoNivel" />
      </div>
    </div>

    <!--
      OBRAS SUBTE
    -->
    <a name="subte"></a>
    <div class="row no-gutters cortex"
         id="subte">
      <div class="layer layer-0"
           style="background:url('images/bajo-tierra/bg-subte.svg');
           background-size: cover;background-position: bottom center;">
      </div>
      <div class="layer layer-1 train"></div>
      <div class="layer layer-2 flex-center">
        <obras-slider data="obrasSubte" />
      </div>
    </div>

    <!--
      OBRAS HIDRAULICAS
    -->
    <a name="hidraulicas"></a>
    <div class="row no-gutters cortex"
         id="hidraulicas">
      <div class="layer layer-0"
           style="background:url('images/bajo-tierra/bg-hidraulica.svg');
           background-size: cover;background-position: bottom center;">
      </div>
      <div class="layer layer-1 faucet"></div>
      <div class="layer layer-2 flex-center">
        <obras-slider data="obrasHidraulicas" />
      </div>
    </div>

</div>
