<div class="row obra">
  	
      
    <div class="row">
          <div class="col-xs-12">
            <div class="tooltip-title">
              <div class="row">
                <div class="col-xs-1">
                  <div class="inner">
                    <div id="tooltip-logo-container" class=" icon pull-left" ng-style="{'background-color': tipo_colors(obra.tipo)}">
                      <img src="images/iconos/{{obra.tipo_slug}}.svg">
                    </div>
                </div>
              </div>
              <div class="col-xs-10">
                <p class="type" ng-style="{color: tipo_colors(obra.tipo)}">{{obra.tipo}}</p>
                <h3 class="title">{{obra.nombre}}</h3>  
              </div>
            </div>
            </div>
          </div>
        </div>
          <div class="row">
           <div class="col-md-8">
            
           <flex-slider slide="s in slides track by s.url" animation="slide" control-nav="thumbnails">
              <li data-thumb="{{s.pic}}" ng-switch="s.mode">
                  <div ng-switch-when="video" > 
                    
                      <ng-youtube-embed 
                        url="s.url"
                        playauto="true"
                        color="white"
                        disablekb="true"
                        width="100%"
                        rel="false"
                        theme="light"
                        modestbranding="1"
                        >
                    </ng-youtube-embed>
                </div>
                  <img ng-switch-default ng-src="{{s.pic}}">
                </li>
            </flex-slider>
             <p> {{c.descripcion}} </p>
          </div>
          <div class="col-md-3 ficha-tecnica">
               <h4> Ficha técnica</h4>
               <p class="etiquetas">
                    <span  ng-show="obra.compromiso" class="label label-primary compromiso-row">
                       <img src="images/iconos/compromiso.svg"/>Compromiso de Gobierno</span>
                    <span  ng-show="obra.destacada" class="label label-primary compromiso-row ">   <img src="images/iconos/archivo.svg"/>Obra Destacada</span>
                    <span  ng-show="obra.ba_elige" class="label label-primary  compromiso-row ">   <img src="images/iconos/archivo.svg"/>BA Elige</span>
                </p>
              <div class="etapa">
                <div class="row">
                   <div class="col-md-2">
                        <img src="images/iconos/calendario.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>Etapa:</p>
                      <p><strong>{{obra.etapa}}</strong> </p>
                      <div class="progress">
                          <div class="progress-bar bg-color-{{obra.slug}}"
                            role="progressbar"
                              ng-style="{ 'width': obra.porcentaje_avance + '%' }">
                            <div class="progressbar-w" ng-show="!obra.porcentaje_avance"><p></p> </div>
                            <span class="progressbar-w" ng-hide="obra.porcentaje_avance<22 || !obra.porcentaje_avance">
                            </span>
                          </div>
                          <div class="progress-w" ng-show="obra.porcentaje_avance<22" ng-style="{ 'width': (100 - obra.porcentaje_avance) + '%' }"></div>
                        </div>
                        <div ng-if="!obra.hideDates" class="row fechas"  ng-show="obra.fecha_inicio">
                          <div class="col-md-6"  ng-show="obra.fecha_inicio">
                           <p> Inicio: <strong>{{obra.fecha_inicio}}</strong></p>
                          </div>
                          <div class="col-md-6"  ng-show="obra.fecha_fin">
                           <p> Fin: <strong>{{obra.fecha_fin}}</strong> </p>
                          </div>

                        </div>
                    </div>
                  </div>

                <div class="row">
                   <div class="col-md-2">
                    <p>  </p>
                   </div>
                    <div class="col-md-10">
                      <p> <small> {{obra.etapa_detalle}}</small> </p>
                    </div>
                  </div>
                </div>
                 <div class="row">
                   <div class="col-md-2">
                        <img src="images/iconos/estilo.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p> Tipo de obra: </p>
                      <strong>{{obra.tipo}}</strong>
                    </div>
                  </div>
                <div class="row">
                   <div class="col-md-2">
                        <img src="images/iconos/ministerio.svg"/>
                   </div>
                    <div class="col-md-10">
                      <strong> {{obra.area_responsable}}</strong>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.licitacion_oferta_empresa">
                   <div class="col-md-2">
                        <img src="images/iconos/trabajador.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>  Empresa: </p>
                      <strong> {{obra.licitacion_oferta_empresa}}</strong>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.plazo_meses">
                   <div class="col-md-2">
                        <img src="images/iconos/relojarena.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p> Plazo total: </p>
                      <strong> {{obra.plazo_meses}} meses </strong>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.hideDates && obra.licitacion_anio">
                   <div class="col-md-2">
                        <img src="images/iconos/calendario.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>    Año de licitación: </p>
                      <strong> {{obra.licitacion_anio}}</strong>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.beneficiarios">
                   <div class="col-md-2">
                        <img src="images/iconos/ministerio.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>    Cantidad de Beneficiaros:</p>
                      <strong> {{obra.benficiarios}}<small> personas</small>  </strong>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.beneficiarios">
                   <div class="col-md-2">
                        <img src="images/iconos/ministerio.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>     Mano de Obra: </p>
                      <strong> {{obra.mano_obra}} <small>personas</small> </strong> 
                    </div>
                  </div>
                  <div class="row" ng-show="obra.beneficiarios">
                   <div class="col-md-2">
                        <img src="images/iconos/trabajador.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>     Mano de Obra: </p>
                      <strong> {{obra.mano_obra}} <small>personas</small> </strong> 
                      <colored-icons scale="'manoDeObra'" callback="drawSecondColored"></colored-icons>
                    </div>
                  </div>
                  <div class="row" ng-show="obra.monto_contrato">
                   <div class="col-md-2">
                        <img src="images/iconos/dinero.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>     Monto Contrato:  </p>
                      <strong>  {{obra.monto_contrato | currency}} </strong> 
                    </div>
                  </div>
                
                <div class="row" ng-show="obra.licitacion_presupuesto_oficial">
                   <div class="col-md-2">
                        <img src="images/iconos/dinero.svg"/>
                   </div>
                    <div class="col-md-10">
                      <p>    Monto Actualizado: </p>
                      <strong>   {{obra.licitacion_presupuesto_oficial | currency}} </strong> 
                    </div>
                </div>
                 <div class="row" ng-show="obra.pliego_descarga">
                   <div class="col-md-2">
                        <img src="images/iconos/archivo.svg"/>
                   </div>
                    <div class="col-md-10">
                      <a ng-href="{{obra.pliego_descarga}}" target="_blank"><i class="detalle-frame-icon glyphicon glyphicon glyphicon-download-alt"></i> Ver Pliego </a>
                    </div>
                </div>
          </div>
      </div>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4> Ubicación de obra </h4>
    <leaflet center="center" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="350px"></leaflet>

  </div>
</div>
